<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%for job in jobs%}
            <div class="border border-dark mb-2 mt-2">
                jobtitle:{{job.job_title}}
                experience:{{job.experience}}
                created_date:{{job.created_date}}
                <a href="{%url 'emp-jobdetail' job.id%}">Detail</a>
                <a href="">Update</a>
                <a href="{%url 'view_applic' job.id%}">View_Apllications</a>

            </div>
            {%endfor%}
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>